form(action="/register" method="POST")
  p register
  input(type="text" name="login")
  input(type="text" name="password")
  input(type="submit")


form(action="/logining" method="POST")
  p login form
  input(type="text" name="login")
  input(type="text" name="password")
  input(type="submit")

